In [2]:
# ans1 i)
a = "apple"
print(type(a))

<class 'str'>

In [3]:
# ii)
L = [23,23.5,True,"Ball"]
print(type(L))

<class 'list'>

In [4]:
# iii)
b = 23.5
print(type(b))

<class 'float'>

In [8]:
# ans2
#i) String
#ii) String
#iii) List
#iv) integer

In [9]:
# ans 3 
# i) / = This is a division oppertor used for doing division
# For example
print(100/2)

50.0

In [10]:
#ii) % = This is an Modulus opperator it is used to know remainder
# for example
print(5%4)

1

In [12]:
#iii) // = it is the devision floor opperator used for giving outcome in the form of integer
#for example
print(55//2)

27

In [13]:
#iv) ** = This is a exponent opperator used to multiply the  number by its power
# for example
print(5**6)

15625

In [1]:
# ans 4 
c = ["apple" , 98 ,78.9,"orrange",True,False,2+6j,34,2.21,2+3j]
for i in c:
    print(i)
    print(type(i))

apple
<class 'str'>
98
<class 'int'>
78.9
<class 'float'>
orrange
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
(2+6j)
<class 'complex'>
34
<class 'int'>
2.21
<class 'float'>
(2+3j)
<class 'complex'>

In [25]:
# ans 5
a=42
b=2
c=0
str(c)
while a%b==0:
    a = a/b
    c+=1
    print("The number is ", c ," time divisible")

The number is  1  time divisible

In [16]:
# ans 6
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i ," is devisible by 3")
    else:
        print(i," is not devisible by 3")

1  is not devisible by 3
2  is not devisible by 3
3  is devisible by 3
4  is not devisible by 3
5  is not devisible by 3
6  is devisible by 3
7  is not devisible by 3
8  is not devisible by 3
9  is devisible by 3
10  is not devisible by 3
11  is not devisible by 3
12  is devisible by 3
13  is not devisible by 3
14  is not devisible by 3
15  is devisible by 3
16  is not devisible by 3
17  is not devisible by 3
18  is devisible by 3
19  is not devisible by 3
20  is not devisible by 3
21  is devisible by 3
22  is not devisible by 3
23  is not devisible by 3
24  is devisible by 3
25  is not devisible by 3

In [29]:
# ans 7 
# Mutable data type : these are those data type  which allow to replace one thing for another
# for example:
number=["chandan",34,32.8]
l[1]=3
print(l[1])

3

In [30]:
# Immutable data type : these are those data type  which doesn't allow to replace one thing for another
#for example
v="Laptop"
v[2]=c
print(v[2])

TypeError: 'str' object does not support item assignment